{% extends "bootstrap/base.html" %}

{% block title %}CMMI 1.3 AI Orchestration{% endblock %}

{% block navbar %}
<nav class="navbar navbar-default">
  <div class="container-fluid">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse"
        data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="{{ url_for('main.home') }}">CMMI AI Orchestrator</a>
    </div>

    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav">
        <li><a href="{{ url_for('main.home') }}">Home</a></li>
        <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true"
            aria-expanded="false">CMMI Structures <span class="caret"></span></a>
          <ul class="dropdown-menu">
            <li><a href="{{ url_for('main.maturity_levels') }}">Maturity Levels</a></li>
            <li role="separator" class="divider"></li>
            <li><a href="{{ url_for('main.process_areas') }}">Process Areas</a></li>
          </ul>
        </li>
        <li><a href="{{ url_for('main.introduction') }}">Introduction</a></li>
        <li><a href="{{ url_for('main.about') }}">About</a></li>
      </ul>
    </div>
  </div>
</nav>
{% endblock %}

{% block content %}
<div class="container">
  {% with messages = get_flashed_messages() %}
  {% if messages %}
  {% for message in messages %}
  <div class="alert alert-info" role="alert">{{ message }}</div>
  {% endfor %}
  {% endif %}
  {% endwith %}

  {% block app_content %}{% endblock %}
</div>
{% endblock %}